@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?-1kcld8');
  src: url('/fonts/icomoon.eot?#iefix-1kcld8') format('embedded-opentype'),
       url('/fonts/icomoon.woff?-1kcld8') format('woff'),
       url('/fonts/icomoon.ttf?-1kcld8') format('truetype'),
       url('/fonts/icomoon.svg?-1kcld8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font: 90% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9e9e9;
}

a {
  color: #1B98E5;
  text-decoration: none;
}

a:hover {
  color: #3E8CBC;
  text-decoration: underline;
}

.klear {
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select {
  margin: 0;
  padding: 2px 0;
}

.text {
  border: 1px solid #bbb;
  padding: 3px;
  width: 200px;
  box-sizing: border-box;
}

.button {
  position: relative;
  border: 0;
  padding: 4px 10px;
  cursor: pointer;
  background-color: #D9DDDE;
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #bdc3c7;
}

.button:active, button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  padding: 10px 0;
  color: #888;
}

.footer a {
  color: #777;
  margin: 0 4px;
}

.footlinks {
  padding-right: 15px;
}

.attention {
  background-color: #FCF0B0;
}

.success {
  background-color: #BFF1BC;
}

.attention, .success {
  padding: 5px 7px;
  border-radius: 3px;
}

.note {
  background-color: #ddd;
  border: 1px solid #bbb;
  color: #555;
  font-size: 0.9em;
  padding: 5px;
}

/**
 * #####################################################################
 * Login page
 */

.loginpage {
  width: 500px;
  margin: 20px auto;
}

.loginpage .homelink {
  margin: 7px 0;
  float: left;
}

.loginpage .homelink a {
  font-size: 1.3em;
  color: #555;
  text-decoration: none;
}

.loginpage .homelink a:hover {
  color: #222;
}

.loginpage .homelink a:before {
  font-size: 1.2em;
  color: #888;
  padding-right: 4px;
  content: '\2190';
}

.loginpage .homelink a:hover:before {
  color: #444;
}

.loginpage .tophelper {
  float: right;
}

.loginpage .tophelper a {
  display: block;
  margin: 8px 0 0;
  font-size: 1.1em;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.loginpage .tophelper a:hover {
  background-color: #D9E0E8;
}

.loginpage .container {
  position: relative;
  clear: both;
  padding: 40px 10px 10px;
}

.loginpage h3 {
  padding-top: 5px;
}

.loginpage .attention {
  padding: 7px;
  border: 1px solid #E7C92D;
}

.loginpage .note {
  margin-top: 15px;
}

.loginpage #error {
  display: block;
  /*cursor: pointer;*/
  background-color: #EABFBC;
  text-decoration: none;
  padding: 7px;
  color: #852424;
  border-radius: 5px;
  margin: 5px 0;
  transition: opacity 0.3s;
}

.loginpage #error:hover {
  /*opacity: 0.7;*/
}

.loginpage .row {
  margin: 7px 0;
}

.loginpage .row:last-child {
  margin-top: 15px;
}

.loginpage .text {
  width: 100%;
  padding: 7px 5px;
  border: 0;
  box-shadow: 0 2px 6px -4px #212121;
  outline: none;
}

.loginpage .text:focus {
  border-color: #aaa;
  box-shadow: 0 1px 6px 0px #849EAF;
}

.loginpage select {
  outline: none;
  width: 100%;
  padding: 3px 5px;
  margin: 3px 0;
}

.loginpage .button {
  display: block;
  width: 100%;
  padding: 7px 0;
  color: #333;
  outline: none;
  background-color: #C9D6DF;
}

.loginpage .button:hover {
  color: #000;
  background-color: #97B7CD;
}

.loginpage form h3 {
  margin-top: 20px;
}

.loginpage .row a {
  display: block;
  width: 480px;
  padding: 7px 0;
  color: #333;
  font-size: 0.9em;
  outline: none;
  text-align: center;
  text-decoration: none;
  background-color: #ccc;
  transition: background-color 0.2s;
}

.loginpage .row a:hover {
  color: #111;
  background-color: #bbb;
}

.loginpage #confirm {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 70px 50px 170px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.loginpage #confirm .subform {
  width: 400px;
}

.loginpage #confirm .cancelbtn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  background-color: #ddd;
  padding: 7px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.loginpage #confirm .cancelbtn:hover {
  background-color: #bbb;
}

.loginpage #confirm .text {
  box-shadow: 0 0 20px 6px #ddd;
}

.loginpage #confirm .text:focus {
  box-shadow: 0 0 20px 2px #C5D4DF;
}

/**
 * ========================= Profile ========================================
 */
.loginpage .subjects > li {
  padding: 0.5rem 0.3rem;
  position: relative;
}

.loginpage .subjects > li:hover {
  background-color: #ddd;
}

.loginpage .subjects > li.added {
  color: #27ae60;
}

.loginpage .subjects > li.removed {
  color: #e74c3c;
}

.loginpage .subjects > li > .remove-btn {
  position: absolute;
  top: 0.2rem;
  right: 0;
}

.loginpage .subjects > li > .remove-btn button {
  border: 0;
  background: none;
  font-family: 'icomoon';
  font-size: 1.1rem;
  cursor: pointer;
  color: #888;
  transition: color 0.2s;
}

.loginpage .subjects > li > .remove-btn button:hover {
  color: #444;
}

.loginpage .subjects > li > .remove-btn button:before {
  content: '\e60e';
}

.main-footer {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  padding: 10px 0;
  color: #888;
}

.main-footer a {
  color: #777;
  margin: 0 4px;
}

.main-footer > span {
  padding: 0 0.7em;
}

.main-footer .reflinks a {
  text-decoration: none;
  color: #777;
  transition: color 0.2s;
}

.main-footer .reflinks a:hover {
  color: #222;
}

.main-footer .reflinks .github:before {
  font-family: 'icomoon';
  speak: none;
  content: "\e607";
  font-size: 1.5em;
}
