body {
  padding: 0;
  margin: 0;
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

a {
  color: #1B98E5;
  text-decoration: none;
}

a:hover {
  color: #3E8CBC;
  text-decoration: underline;
}

.klear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select {
  margin: 0;
  padding: 2px 0;
}

.text {
  border: 1px solid #bbb;
  padding: 3px;
  width: 200px;
}

.button {
  position: relative;
  border: 0;
  padding: 4px 10px;
  cursor: pointer;
  background-color: #D9DDDE;
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #bdc3c7;
}

.text, .button, textarea {
  outline: none;
  box-sizing: border-box;
}

.manage > footer {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  padding: 10px 0;
  color: #888;
}

.manage > footer a {
  color: #777;
  margin: 0 4px;
}

.footlinks {
  padding-right: 15px;
}

.attention {
  background-color: #FCF0B0;
}

.success {
  background-color: #BFF1BC;
}

.attention, .success {
  padding: 5px 7px;
  border-radius: 3px;
}

.note {
  background-color: #ddd;
  border: 1px solid #bbb;
  color: #555;
  font-size: 0.9em;
  padding: 5px;
}

#notfound {
  padding: 2em 3em;
  margin: 0.5em 0;
  font-size: 1.1em;
  background-color: #eee;
}

.manage {
  width: 100%;
  height: 100%;
}

.manage .sidebar {
  width: 15%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
}

.manage .links {
  padding: 3em 0 0 2em;
}

.manage .links li {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.manage .container {
  float: left;
  width: 85%;
  box-sizing: border-box;
  padding: 0 2em 2em 2em;
}

@media screen and (max-width: 700px) {
  .manage .sidebar {
    float: none;
    width: 100%;
  }

  .manage .container {
    width: 100%;
    float: none;
  }
}

.manage .container h2 {
  margin: 1.5em 0 0.5em 0;
  clear: both;
}

.manage .container .info li {
  margin: 0.3em 0;
}

.manage .container .info li span {
  padding-left: 0.3em;
}

.manage .container .models li {
  float: left;
  margin: 0.2em 1em;
}

.manage .container .models li > a.modellink {
  width: 200px;
  display: block;
  padding: 1em 0;
  text-align: center;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  background-color: #C4E1F5;
  transition: background-color 0.2s;
}

.manage .container .models li > a.modellink:hover {
  background-color: #8BC2E8;
}

.manage .container .models li > a.modellink .name:after {
  content: ':';
}

.manage .container .models li > a.modellink .count {
  padding-left: 0.2em;
}

.manage .container .models li > a.clearlink {
  display: block;
  width: 200px;
  text-align: center;
  padding: 0.2em 0;
  color: #fff;
  background-color: #F2837C;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s,
              background-color 0.2s;
}

.manage .container .models li > a.clearlink:hover {
  background-color: #ED564C;
}

.manage .container .models li:hover > a.clearlink {
  visibility: visible;
  opacity: 1;
}

.manage .container .msg {
  margin: 1em 0;
  padding: 0.2em 0.3em;
  clear: left;
  border-left: 3px solid #2980b9;
}

.manage .container .msg:nth-child(2n) {
  border-left: 3px solid #2980b9;
}

.manage .container .msg:nth-child(2n+1) {
  border-left: 3px solid #8e44ad;
}

.manage .container .msg .from {
  font-size: 0.9em;
  color: #888;
  padding: 0.2em 0;
}

.manage .container .msg .from i {
  color: #000;
  margin-left: 1em;
  font-size: 0.8em;
}

.manage .container .msg .contain {
  max-width: 800px;
  line-height: 1.3;
  padding: 0.3em 0 0 0.4em;
}

.manage #error {
  color: #c00;
}

.manage #error:first-letter {
  text-transform: uppercase;
}

.manage .addparseform {
  padding: 10px 0;
}

.manage .addparseform .done {
  background: url('/design/success_icon.png') no-repeat center right;
}

.manage .addparseform .empty {
  background-image: none;
}

.manage .addparseform .long {
  width: 450px;
}

.manage .addparseform .button {
  width: 150px;
}

.manage .addparseform input.small {
  width: 70px;
}

.manage .addparseform select {
  margin: 3px;
}

.manage .addparseform .customname {
  margin: 5px 0 0;
  background-color: #f5f5f5;
}

.manage .addparseform .customname label {
  padding-right: 10px;
}

.manage .parselist li.parsed {
  background-color: #ecf0f1;
}

.manage .parselist li.mistake {
  box-shadow: inset 8px 0 0 -4px #E6C44A;
}

.manage .parselist li > div {
  float: left;
}

.manage .parselist li:hover > .del, .manage .parselist li:hover > .clear {
  opacity: 1;
}

.manage .parselist .del {
  width: 30px;
  text-align: left;
  position: relative;
  top: -1px;
  left: 0;
}

.manage .parselist .group {
  font-size: 0.9em;
  width: 200px;
}

.manage .parselist .link {
  width: 430px;
}

.manage .parselist .link a {
  text-decoration: none;
  background-color: #eee;
  color: #3E6383;
  border: 1px solid #999;
  padding: 1px 8px;
  font-size: 1em;
}

.manage .parselist .link a:hover {
  background-color: #ddd;
}

.manage .parselist .link i {
  margin-left: 4px;
  font-size: 0.9em;
}

.manage .parselist .clear {
  width: 40px;
}

.manage .parselist .del, .manage .parselist .clear {
  opacity: 0;
  transition: opacity 0.2s;
}

.manage .parselist .del a, .manage .parselist .clear a {
  font-size: 12px;
}

.manage .parselist .del a {
  color: #c00;
}

.manage .parselist .clear a {
  color: #F59F15;
}

.manage .parselist .description {
  float: none;
  clear: both;
  font-size: 13px;
  padding: 2px 40px;
  color: #888;
}

.manage #modelName:after {
  content: '-';
  padding: 0 0.3em;
}

.manage .modellist .searchbox {
  background-color: #eee;
  font-size: 0.9em;
  font-family: Consolas, monospace;
}

.manage .modellist .searchbox .labels {
  padding-left: 1em;
}

.manage .modellist .searchbox .nopadding {
  padding: 0;
}

.manage .modellist .searchbox .text {
  min-width: 300px;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-family: Consolas, monospace;
}

.manage .modellist .searchbox .button {
  width: 100%;
  padding: 0.5em 0;
}

.manage .modellist textarea {
  height: 3.5em;
  width: 100%;
  background-color: #f7f7f7;
  border: 0;
  border-left: 5px solid #bbb;
  margin: 0;
  padding: 0;
  font-family: Consolas, monospace;
}

.manage .modellist #notfound {
  display: none;
  margin: 1em 0 0;
}

.manage .modellist ul .row {
  margin: 1em 0;
}

.manage .modellist .number {
  color: #666;
  font-size: 0.9em;
}

.manage .modellist .model {
  position: relative;
  background-color: #eee;
  transition: background-color 0.2s;
}

.manage .modellist .model:hover {
  background-color: #ddd;
}

.manage .modellist pre {
  outline: none;
  font-size: 0.9em;
  font-family: Consolas, monospace;
  color: #000;
  padding: 0.2em 0.3em;
  margin: 0;
  overflow: auto;
}

.manage .modellist .actions {
  position: absolute;
  top: 0;
  right: 0;
}

.manage .modellist .actions li {
  float: left;
  margin: 0.1em 0 0.2em 0;
}

.manage .modellist .actions li > button {
  display: block;
  padding: 0.3em 0.6em;
  margin: 0 0.4em;
  border: 0;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
}

.manage .modellist .actions li > .save {
  display: none;
  background: #27ae60;
}

.manage .modellist .actions li > .save:hover {
  background: #1E9C53;
}

.manage .modellist .actions li > .delete {
  background: #e74c3c;
}

.manage .modellist .actions li > .delete:hover {
  background: #DE3321;
}

.manage .modellist .actions li > .edit {
  background: #f1c40f;
}

.manage .modellist .actions li > .edit:hover {
  background: #E3B705;
}

.manage .modellist .actions li > .cancel {
  display: none;
  background-color: #aaa;
}

.manage .modellist .actions li > .cancel:hover {
  background-color: #999;
}

.manage .pagination li {
  float: left;
}

.manage .pagination li > a {
  display: block;
  padding: 0.2em 0.5em;
  color: #000;
  font-size: 1.2em;
  background-color: #ddd;
}

.manage .pagination li.current > a {
  background-color: #fff;
}
