body {
  padding: 0;
  margin: 0;
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

a {
  color: #1B98E5;
  text-decoration: none;
}

a:hover {
  color: #3E8CBC;
  text-decoration: underline;
}

.klear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select {
  margin: 0;
  padding: 2px 0;
}

a, button, input, textarea {
  box-sizing: border-box;
  outline: none;
}

.text {
  border: 1px solid #bbb;
  padding: 3px;
  width: 200px;
}

.button {
  position: relative;
  border: 0;
  padding: 4px 10px;
  cursor: pointer;
  background-color: #D9DDDE;
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #bdc3c7;
}

.text, .button, textarea {
  outline: none;
  box-sizing: border-box;
}

.manage > footer {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  padding: 10px 0;
  color: #888;
}

.manage > footer a {
  color: #777;
  margin: 0 4px;
}

.footlinks {
  padding-right: 15px;
}

.attention {
  background-color: #FCF0B0;
}

.success {
  background-color: #BFF1BC;
}

.attention, .success {
  padding: 5px 7px;
  border-radius: 3px;
}

.note {
  background-color: #ddd;
  border: 1px solid #bbb;
  color: #555;
  font-size: 0.9em;
  padding: 5px;
}

#notfound {
  padding: 2em 3em;
  margin: 0.5em 0;
  font-size: 1.1em;
  background-color: #eee;
}

.manage {
  width: 100%;
  height: 100%;
}

.manage .sidebar {
  width: 15%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
}

.manage .links {
  padding: 3em 0 0 2em;
}

.manage .links li {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.manage .container {
  float: left;
  width: 85%;
  box-sizing: border-box;
  padding: 0 2em 2em 2em;
}

@media screen and (max-width: 700px) {
  .manage .sidebar {
    float: none;
    width: 100%;
  }

  .manage .container {
    width: 100%;
    float: none;
  }
}

.manage .container h2 {
  margin: 1.5em 0 0.5em 0;
  clear: both;
}

.manage .container .info li {
  margin: 0.3em 0;
}

.manage .container .info li span {
  padding-left: 0.3em;
}

.manage .container .models li {
  float: left;
  margin: 0.2em 1em;
}

.manage .container .models li > a.modellink {
  width: 200px;
  display: block;
  padding: 1em 0;
  text-align: center;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  background-color: #C4E1F5;
  transition: background-color 0.2s;
}

.manage .container .models li > a.modellink:hover {
  background-color: #8BC2E8;
}

.manage .container .models li > a.modellink .name:after {
  content: ':';
}

.manage .container .models li > a.modellink .count {
  padding-left: 0.2em;
}

.manage .container .models li > .clearlink {
  display: block;
  width: 200px;
  text-align: center;
  padding: 0.2em 0;
  color: #fff;
  background-color: #F2837C;
  text-decoration: none;
  opacity: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  visibility: hidden;
  transition: opacity 0.4s,
              background-color 0.2s;
}

.manage .container .models li > .clearlink:hover {
  background-color: #ED564C;
}

.manage .container .models li:hover > .clearlink {
  visibility: visible;
  opacity: 1;
}


.manage .container ul.messages > li {
  margin: 0.2em 0;
  padding: 0.2em 0;
  border-bottom: 1px solid #ddd;
}

.manage .container ul.messages > li:last-child {
  border: 0;
}

.manage .container .message-time {
  font-size: 0.8em;
  color: #777;
}

.manage .container .server-data i {
  text-transform: capitalize;
}

.manage .container .serverdata-value {
  padding-left: 0.4em;
}

.manage #error {
  color: #c00;
}

.manage #error:first-letter {
  text-transform: uppercase;
}

.manage #modelName:after {
  content: '-';
  padding: 0 0.3em;
}

.manage .modellist .searchbox h2 {
  margin: 1.5em 0 0.5em 0;
}

.manage .modellist .search-form {
  background-color: #eee;
  font-size: 0.9em;
  font-family: Consolas, monospace;
}

.manage .modellist .searchbox .labels {
  padding-left: 1em;
}

.manage .modellist .searchbox .nopadding {
  padding: 0;
}

.manage .modellist .searchbox .text {
  min-width: 300px;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-family: Consolas, monospace;
}

.manage .modellist .searchbox .button {
  width: 100%;
  padding: 0.5em 0;
}

.manage .modellist textarea {
  height: 3.5em;
  width: 100%;
  background-color: #f7f7f7;
  border: 0;
  border-left: 5px solid #bbb;
  margin: 0;
  padding: 0;
  font-family: Consolas, monospace;
}

.manage .modellist #notfound {
  display: none;
  margin: 1em 0 0;
}

.manage .modellist ul .row {
  margin: 1em 0;
}

.manage .modellist .number {
  color: #666;
  font-size: 0.9em;
}

.manage .modellist .model {
  position: relative;
  background-color: #eee;
  transition: background-color 0.2s;
}

.manage .modellist .model:hover {
  background-color: #ddd;
}

.manage .modellist pre {
  outline: none;
  font-size: 0.9em;
  font-family: Consolas, monospace;
  color: #000;
  padding: 0.2em 0.3em;
  margin: 0;
  overflow: auto;
}

.manage .modellist .actions {
  position: absolute;
  top: 0;
  right: 0;
}

.manage .modellist .actions li {
  float: left;
  margin: 0.1em 0 0.2em 0;
}

.manage .modellist .actions li > button {
  display: block;
  padding: 0.3em 0.6em;
  margin: 0 0.4em;
  border: 0;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
}

.manage .modellist .actions li > .save {
  display: none;
  background: #27ae60;
}

.manage .modellist .actions li > .save:hover {
  background: #1E9C53;
}

.manage .modellist .actions li > .delete {
  background: #e74c3c;
}

.manage .modellist .actions li > .delete:hover {
  background: #DE3321;
}

.manage .modellist .actions li > .edit {
  background: #f1c40f;
}

.manage .modellist .actions li > .edit:hover {
  background: #E3B705;
}

.manage .modellist .actions li > .cancel {
  display: none;
  background-color: #aaa;
}

.manage .modellist .actions li > .cancel:hover {
  background-color: #999;
}

.manage .pagination li {
  float: left;
}

.manage .pagination li > a {
  display: block;
  padding: 0.2em 0.5em;
  color: #000;
  font-size: 1.2em;
  background-color: #ddd;
}

.manage .pagination li.current > a {
  background-color: #fff;
}


/*
  ##########################################################################################
  Parser
 */
.manage .parser .link-list .link-item {
  margin: 0.5em 0;
  border-top: 1px solid #ddd;
  padding: 0.5em 0;
}

.manage .parser .link-list .url {
  font-size: 1.1em;
  padding: 0.1em 0;
}

.manage .parser .link-list .description {
  font-size: 0.9em;
  color: #444;
}

.manage .parser .link-list .controls {
  margin: 0.2em 0;
}

.manage .parser .link-list .controls button {
  border: 0;
  padding: 0.5em 1.5em;
  margin: 0 0.5em 0 0;
  cursor: pointer;
  transition: background-color 0.2s;
  outline: none;
}

.manage .parser .link-list .controls button:disabled {
  opacity: 0.7;
  cursor: wait;
}

.manage .parser .link-list .run {
  background-color: #6DC970;
}

.manage .parser .link-list .run:hover {
  background-color: #309634;
}

.manage .parser .link-list .delete {
  background-color: #F27474;
}

.manage .parser .link-list .delete:hover {
  background-color: #CF3E3E;
}

.manage .parser .link-list .sublinks {
  margin: 0.5em 0 0.2em 1em;
  color: #333;
}

.manage .parser .add-link-form .row h2 {
  text-transform: uppercase;
  color: #666;
}

.manage .parser .add-link-form .note {
  margin: 1em 0;
}

.manage .parser .add-link-form .text {
  border: 1px solid #bbb;
  padding: 0.3em 0.5em;
  font-size: 0.9em;
  margin: 0;
  min-width: 300px;
}

.manage .parser .add-link-form .add-btn {
  margin: 0;
  padding: 0.4em 1.5em;
  border: 0;
  min-width: 300px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}

.manage .parser .add-link-form .add-btn:hover {
  background-color: #ccc;
}

.manage .parser .add-link-form .row {
  margin: 0.3em 0;
}
