@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?-1kcld8');
  src: url('/fonts/icomoon.eot?#iefix-1kcld8') format('embedded-opentype'),
       url('/fonts/icomoon.woff?-1kcld8') format('woff'),
       url('/fonts/icomoon.ttf?-1kcld8') format('truetype'),
       url('/fonts/icomoon.svg?-1kcld8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font: 90% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ecf0f1;
  overflow-y: scroll;
}

a {
  color: #1B98E5;
  text-decoration: none;
}

a:hover {
  color: #3E8CBC;
  text-decoration: underline;
}

.klear {
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select {
  margin: 0;
  padding: 2px 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text {
  border: 1px solid #bbb;
  padding: 3px;
  width: 200px;
  box-sizing: border-box;
}

.button {
  position: relative;
  border: 0;
  padding: 4px 10px;
  cursor: pointer;
  background-color: #D9DDDE;
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #bdc3c7;
}

.text, .button, textarea, button {
  box-sizing: border-box;
  outline: none;
}

.button:active, button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.attention {
  background-color: #FCF0B0;
}

.success {
  background-color: #BFF1BC;
}

.attention, .success {
  padding: 5px 7px;
  border-radius: 3px;
}

.note {
  background-color: #ddd;
  border: 1px solid #bbb;
  color: #555;
  font-size: 0.9em;
  padding: 5px;
}

a:focus {
  outline: none;
}

#app > footer {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  padding: 10px 0;
  color: #888;
}

#app > footer a {
  color: #777;
  margin: 0 4px;
}

#app > footer > span {
  padding: 0 0.7em;
}

#app > footer .reflinks a {
  text-decoration: none;
  color: #777;
  transition: color 0.2s;
}

#app > footer .reflinks a:hover {
  color: #222;
}

#app > footer .reflinks .github:before {
  font-family: 'icomoon';
  speak: none;
  content: "\e607";
  font-size: 1.5em;
}

/**
 * Header
 *
 */

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  z-index: 20;
}

.top .searchbox {
  width: 18em;
  margin: 0.5em auto 0;
}

.top .searchbox .text {
  width: 100%;
  border-radius: 1em;
  padding: 0.3em 1em;
  font-size: 1.1em;
  border: 0;
  transition: box-shadow 0.3s,
              background-color 0.2s,
              color 0.2s,
              border-color 0.3s;
  box-shadow: 0 0 4px #99CCF0;
}

.top .searchbox .text:focus {
  box-shadow: 0 0 4px #3498db;
}

.mainnav {
  position: absolute;
  right: 5em;
  top: 0.7em;
}

.mainnav li {
  float: left;
  margin: 0.2em 0.4em;
}

.mainnav li > a {
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-size: 1.5em;
  color: #7f8c8d;
  transition: color 0.2s;
  text-decoration: none;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainnav li > a:hover {
  color: #3B6987;
}

.mainnav li > .home:before {
  content: "\e602";
}

.mainnav li > .menu:before {
  content: "\e604";
}

.mainnav li > .user:before {
  content: "\e608";
}

@media screen and (max-width: 650px) {
  .top .searchbox {
    margin: 0.5em 0 0 0.5em;
  }

  .mainnav {
    right: 0.5em;
  }
}

.contentpusher {
  height: 3.5em;
}

/**
 * Navigation window
 *
 */

.globalouter {
  min-height: 100%;
  width: 100%;
  float: left;
}

.navwindow {
  position: relative;
}

.navwindow .back-content {
  position: absolute;
  top: -1em;
  left: 5%;
}

.navwindow .back-content button {

}

.navwindow header {
  text-align: center;
}

.navwindow header h2 {
  padding: 0;
  margin: 1em 0 1em;
  color: #555;
}

.navwindow .content {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.navwindow .content li {
  float: left;
  width: 33.33333%;
}

.navwindow .content li > a {
  display: block;
  box-sizing: border-box;
  padding: 0.3em 0.4em;
  margin: 0.1em 0.1em;
  background-color: #ABD9F7;
  color: #444;
  text-decoration: none;
  font-size: 1.1em;
  transition: background-color 0.1s;
  will-change: background-color;
}

.navwindow .content li > a:hover {
  background-color: #75BCEB;
}

.navwindow .content li > input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.navwindow .content li label {
  display: block;
  font-size: 1.2em;
  color: #bbb;
  background-color: #444;
  padding: 0.3em 0.4em;
  margin: -0.3em 0.2em;
  border-radius: 10px;
  cursor: pointer;
}

.navwindow .content li > input:checked ~ label {
  background-color: #266E44;
}

@media screen and (max-width: 480px) {
  .navwindow .content li {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 700px) {
  .navwindow .content li {
    width: 50%;
  }
}

/**
 * MAIN PAGE
 *
 */

.mainpage {
  width: 100%;
  margin: 0 auto;
}

.mainpage .container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 0 0.5em;
  font-size: 1.2em;
  line-height: 1.3;
}

.mainpage h3 {
  font-size: 1.2em;
  margin: 20px 0 5px;
}

.mainpage .block {
  padding: 10px;
}

.mainpage .feedback {
}

.mainpage .feedback textarea {
  width: 100%;
  height: 3em;
  padding: 5px 10px;
  border: 0;
  background-color: inherit;
}

.mainpage .quicklinks a {
  display: block;
  width: 100%;
  padding: 0.4em 0;
  text-align: center;
  font-size: 1.2em;
  background-color: #2ecc71;
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s;
}

.mainpage .quicklinks .navlink:before {
  font-family: 'icomoon';
  speak: none;
  content: "\e604";
  color: #222;
  margin: 0 0.5em 0 0;
  font-size: 1em;
}

.mainpage .quicklinks a:hover {
  background-color: #27ae60;
}

.mainpage .feedback-btn {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.mainpage .feedback-btn button {
  border: 0;
  margin: 0;
  padding: 0.4em 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: #3498db;
  font-size: 1em;
  transition: background-color 0.2s;
}

.mainpage .feedback-btn button:before {
  font-family: 'icomoon';
  speak: none;
  content: "\e600";
  color: #222;
  margin: 0 0.5em 0 0;
  font-size: 1em;
}

.mainpage .feedback-btn button:disabled {
  opacity: 0.7;
  cursor: wait;
}

.mainpage .feedback-btn button:hover {
  background-color: #2980b9;
}

.mainpage .success-block {
  padding: 0.4em 0;
  text-align: center;
  font-size: 1em;
  background-color: #2ecc71;
  text-decoration: none;
  color: #000;
  position: absolute;
  top: -2.5em;
  left: 0;
  width: 100%;
  transition: top 0.4s;
}

.mainpage .feedback-btn .down {
  top: 0;
}

.mainpage h4 {
  font-size: 1em;
  color: #2C5E84;
  margin: 15px 0 10px;
}

.mainpage h4:first-child {
  margin-top: 0;
}


/**
 * SCHEDULE TEMPLATE
 *
 */

.schedule {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.schedule .title {
  text-align: center;
}

.schedule .title h2 {
  font-size: 1.1em;
  padding: 0;
  margin: 2px 0;
  color: #1D2F43;
  min-height: 1.1em;
}

.schedule .weekblock {
  margin-top: 3px;
  float: none;
}

.schedule #calendar {
  display: block;
  padding: 10px 0;
}

.schedule .weekselector {
  clear: both;
  width: 400px;
  overflow: hidden;
  margin: 0.5em auto;
}

.schedule .weekcontent {
  float: left;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
}

.schedule .weekcontent span {
  padding-left: 0.2rem;
}

.schedule .neighbourweek {
  box-sizing: border-box;
  float: left;
  display: block;
  overflow: hidden;
  width: 10%;
  padding: 0.2rem;
  border-radius: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: #777;
  text-decoration: none;
  font-family: 'icomoon';
  transition: background-color 0.3s;
}

.schedule .neighbourweek:hover {
  background-color: #B8CDDB;
}

.schedule .neighbourweek:first-of-type:before {
  content: '\e60b';
}

.schedule .neighbourweek:last-of-type:before {
  content: '\e60c';
}

.schedule .neighbourweek:hover {
  color: #666;
}

.schedule #days {
  padding-top: 0.5rem;
  clear: both;
  overflow: hidden;
}

.schedule .bwrap {
  float: left;
}

.schedule .bwrap:nth-of-type(5n) .weekday {
  box-shadow: inset 0 4px 0 -2px #9b59b6;
}

.schedule .bwrap:nth-of-type(5n+1) .weekday {
  box-shadow: inset 0 4px 0 -2px #47617C;
}

.schedule .bwrap:nth-of-type(5n+2) .weekday {
  box-shadow: inset 0 4px 0 -2px #e67e22;
}

.schedule .bwrap:nth-of-type(5n+3) .weekday {
  box-shadow: inset 0 4px 0-2px #27AE60;
}

.schedule .bwrap:nth-of-type(5n+4) .weekday {
  box-shadow: inset 0 4px 0 -2px #3498D8;
}

.schedule .block {
  position: relative;
  overflow: hidden;
  margin: 7px 5px;
  background-color: #fff;
  transition: box-shadow 0.2s;
}

.schedule .bwrap .today {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
}

.schedule .block:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
}

.schedule .today .weekday {
  background-color: #f5f5f5;
}

.schedule .weekday {
  background-color: #fff;
  padding: 10px 0;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  box-shadow: inset 0 4px 0 -2px #3498D8;
  border-bottom: 1px solid #eee;
}

.schedule .date {
  margin-left: 10px;
  font-size: 0.9em;
  color: #999;
}

.schedule .container {
  clear: left;
  position: relative;
}

.schedule .container .restblock {
  background-color: #f9f9f9;
}

.schedule .noclasses {
  font-size: 1.2em;
  padding: 10px 0;
  background-color: #fdfdfd;
  text-align: center;
}

.schedule .subject {
  clear: left;
  overflow: hidden;
  border-bottom: 2px dashed #ddd;
  position: relative;
}

.schedule .subject:hover {
  background-color: #E2F4FF;
}

.schedule .subject .remove-block {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.schedule .subject .remove-block > button {
  padding: 0.2em 0.2em;
  text-align: center;
  border: 0;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: 'icomoon';
  color: #F51D1D;
  background-color: #ecf0f1;
  border-radius: 100%;
  transition: background-color 0.2s;
}

.schedule .subject .remove-block > button:hover {
  background-color: #ccc;
}

.schedule .subject .remove-block > button:before {
  content: '\e60a';
}

.schedule .editing-mode .remove-block {
  display: block;
}

.schedule .subject:last-child {
  border: 0;
}

.schedule .subject .time {
  float: left;
  width: 20%;
  text-align: center;
}

.schedule .subject .hour {
  font-weight: bold;
  padding: 5px 0 2px;
}

.schedule .subject .duration {
  font-size: 0.9em;
  color: #222;
}

.schedule .subject .duration span {
  padding: 0 2px;
  background-color: #E3F3FC;
  border: 2px solid #7AC0EB;
  border-radius: 5px;
}

.schedule .subject .duration span u {
  text-decoration: none;
}

.schedule .subject .duration .dur-1 {
  border-color: #7DC790;
  background-color: #DCFCE4;
}

.schedule .subject .duration .dur-2 {
  border-color: #E3E35B;
  background-color: #FCFCD7;
}

.schedule .subject .duration .dur-3 {
  border-color: #E6BD3A;
  background-color: #FFF7DE;
}

.schedule .subject .duration .dur-4 {
  border-color: #D68B56;
  background-color: #FFEDE0;
}

.schedule .subject .duration .dur-5 {
  border-color: #D65656;
  background-color: #FCE1E1;
}

.schedule .subject #duration {
  padding-right: 2px;
  font-style: normal;
}

.schedule .subject .info {
  float: left;
  width: 80%;
}

.schedule .subject .inner {
  padding: 4px 10px 0;
  overflow: hidden;
}

.schedule .subject .resttext {
  font-size: 1.3em;
  padding: 8px 5px 10px 20px;
  color: #333;
}

.schedule .subject .endtime {
  text-align: center;
  font-size: 0.9em;
  padding: 0.2em 0 0.2em;
  font-weight: bold;
  background-color: #f9f9f9;
}

.schedule .subject .inner .name {
  font-size: 1.2em;
}

.schedule .subject .inner .name a {
  font-size: 1.2em;
  color: #2C6D98;
}

.schedule .subject .rooms {
  margin: 4px 0;
}

.schedule .subject .rooms a {
  font-style: italic;
  color: #000;
}

.schedule .subject .rooms a:not(:last-child):after {
  content: ",";
  margin-right: 0.3em;
}

.schedule .subject .teachers li {
  margin: 2px 0;
}

.schedule .subject .teachers li > a {
  color: #3A3D3F;
}

.schedule .subject .teachers li > a:before {
  font-family: 'icomoon';
  content: '\e601';
  margin-right: 0.3em;
}

.schedule .subject .groups {
  width: 100%;
  overflow: hidden;
  clear: left;
}

.schedule .subject .groups li {
  float: right;
  margin: 6px 4px 6px 0;
}

.schedule .subject .groups li > a {
  border: 2px solid #dadada;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 2px 3px;
  background-color: #f9f9f9;
  color: #666;
}

.schedule .subject .groups li > a:hover {
  text-decoration: none;
  border-color: #bbb;
  color: #444;
}

.schedule .subject .infoklear {
  clear: left;
  height: 1px;
}

@media screen and (max-width: 480px) {
  .schedule .bwrap {
    width: 100%;
    clear: left;
  }

  .schedule .weekcontent {
    width: 70%;
  }

  .schedule .neighbourweek {
    width: 15%;
  }
}

@media screen and (min-width: 480px) and (max-width: 550px) {
  .schedule .bwrap {
    width: 100%;
    clear: left;
  }

  .schedule .weekcontent {
    width: 70%;
  }

  .schedule .neighbourweek {
    width: 15%;
  }
}

@media screen and (min-width: 550px) and (max-width: 740px) {
  .schedule .bwrap {
    width: 50%;
  }

  .schedule .bwrap:nth-of-type(3n) {
    clear: left;
  }

  .schedule .weekcontent {
    width: 70%;
  }

  .schedule .neighbourweek {
    width: 15%;
  }
}

@media screen and (min-width: 740px) and (max-width: 980px) {
  .schedule .bwrap {
    width: 33.3333333333%;
  }

  .schedule .bwrap:nth-of-type(4n) {
    clear: left;
  }
}

@media screen and (min-width: 980px) and (max-width: 1200px) {
  .schedule .bwrap {
    width: 25%;
  }

  .schedule .bwrap:nth-of-type(5n) {
    clear: left;
  }
}

@media screen and (min-width: 1200px) {
  .schedule .bwrap {
    width: 20%;
  }
}

@media screen and (min-width: 1980px) {
  .schedule .bwrap {
    width: 18%;
  }

  .schedule #days {
    margin: 0 5%;
  }
}

.unknown {
  font-size: 1.4em;
  text-align: center;
  background-color: #fff;
  padding: 10px 0;
  width: 400px;
  margin: 20px auto;
}

.notfound {
  font-size: 1.4em;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  padding: 10px 0;
}

/**
 * CALENDAR
 */

#calendar table {
  float: left;
  border-spacing: 0;
  border: 0;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 5px;
  height: 185px;
}

#calendar thead {
  font-weight: bold;
}

#calendar td, #calendar th {
  padding: 5px;
}

#calendar thead tr:first-child th {
  border-bottom: 2px solid #ddd;
}

#calendar td.old {
  color: #888;
}

#calendar tbody {
  font-size: 0.9em;
}

#calendar tbody tr.current {
  color: #f7f7f7;
  background-color: #0062CC;
}

#calendar tbody tr:hover, #calendar tbody tr.selected {
  cursor: pointer;
  color: #000;
  background-color: #CACED0;
}

/**
 * Now page
 *
 */
.nowpage .bwrap {
  clear: both;
  float: none;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.nowpage .bwrap .ended {
  opacity: 0.5;
}

.nowpage .bwrap .now {
  background-color: #EDFCF4;
}

/**
 * User schedule page
 */
.schedule-edit-bar {
  display: none;
  margin: 0.5em 0 0 1em;
}

.schedule-edit-bar #editProgress {
  display: none;
}

.schedule-edit-bar button {
  border: 0;
  border-radius: 100%;
  font-size: 1.2rem;
  margin: 0 0.5em;
  padding: 0.7em;
  cursor: pointer;
  font-family: 'icomoon';
}

.schedule-edit-bar button#edit {
  background: #f1c40f;
}

.schedule-edit-bar button#edit:before {
  content: '\e603';
}

.schedule-edit-bar button#done {
  background: #27ae60;
}

.schedule-edit-bar button#done:before {
  content: '\e606';
}

.schedule-edit-bar button#add {
  background: #95a5a6;
}

.schedule-edit-bar button#add:before {
  content: '\e609';
}


.absolute-block {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 800px;
  margin-left: -400px;
  background: #fff;
  box-shadow: 0 0 20px 10px #ccc;
  box-sizing: border-box;
}

.absolute-block .block-searchbar {
  margin: 0.1rem 2rem;
}

.absolute-block .block-searchbar-text {
  width: 100%;
  padding: 0.2rem 0.2rem;
  font-size: 1rem;
}

.absolute-block .block-subjects {
  min-height: 50px;
}
