h2 <%= data.title %>
div.unknownpage-content <%= data.content %>

<% if(data.isUnathorized) { %>
div.unknownpage-content-links.clearfix
  a.login-link(href='/login') Log in
  a.signup-link(href='/signup') Sign up
<% } %>
