span.footlinks
  a(href='/') Home

span.reflinks
  a.github(href='//github.com/zaynetro/lukkari' target='_blank')

span by
  a(href='//zaynetro.github.io' target='_blank') zaynetro
  | <%= data.year %>
