div.wrapper
  div.container
    h2 Schedule finder
    div.block Custom schedule of ICT-building [Beta]

    div.block.quicklinks
      a.navlink(href='/search' data-local) Find schedule

div.wrapper
  div.container
    h2 How to use
    div.block
      h4 Search
      div.info You can search schedule by group, teacher and room.

      h4 Choose week
      div.info On the schedule page you can easily check other weeks timetables by using next and prev links or by using calendar, just simply click on the week you are looking for.

      h4 Mistakes
      div.info This schedule is in beta testing, therefore possible mistakes can happen

div.wrapper
  div.container
    h2 Support
    div.block You found a bug? You want to support us? Help us by submiting the issue:

    div.feedback
      textarea#message(placeholder='Type your message here...')

    div.feedback-btn
      div.success-block#successBlock Your message has been sent
      button.send-btn#sendBtn Send your message to us

    div.info.note Don't forget to leave your name, so we can know whom to thank
