div.wrapper
  div.container
    h2 Schedule
    div.block Custom schedule of ICT-building [Beta]

    div.block.quicklinks
      a.navlink(href='/search' data-local) Find schedule

div.wrapper
  div.container
    h2 Description
    div.block
      ul.sections.clearfix
        li
          a(href='/' data-local)
            h3 Home
            div.icon-wrap: div.icon-home
            div.description You are currently looking at this page. Please, submit your feedback in the form below.

        li
          a(href='/search' data-local)
            h3 Search
            div.icon-wrap: div.icon-menu
            div.description Search for groups, teachers and rooms. You can always just start typing in the search field.
        li
          a(href='/my' data-local)
            h3 User schedule
            div.icon-wrap: div.icon-user
            div.description When you registered on the site, you can manage your schedule by adding and removing courses. [Only for students]
        li
          a(href='/u')
            h3 Profile
            div.icon-wrap: div.icon-profile
            div.description User profile. Edit your information and see the list of edited courses.

div.wrapper
  div.container
    h2 Support us
    div.block Found something not working? Have a suggestion? Support us by sending a message!

    div.feedback
      textarea#message(placeholder='Type your message here...')

    div.feedback-btn
      div.success-block#successBlock Your message has been sent
      button.send-btn#sendBtn Send your message to us

    div.info.note Don't forget to leave your name, so we can know whom to thank
