div.searchbox
  input.text#searchInput(type='text' placeholder='Search...')

nav.mainnav
  ul
    li: a.home(href='/' data-local)
    li: a.menu(href='/search' data-local)
    li: a.user(href='/my' data-local)
    li: a.profile(href='/u')
