div.searchbox
  input.text#searchInput(type='text' placeholder='Search...')

nav.mainnav
  ul
    li: a.icon-home(href='/' data-local)
    li: a.icon-menu(href='/search' data-local)
    li: a.icon-user(href='/my' data-local)
    li: a.icon-profile(href='/u')
