thead
  tr
    th(colspan='6') <%= month %>
  tr
    th #
    th Mo
    th Tu
    th We
    th Th
    th Fr
tbody
  <% _.each(weeks, function (week) { %>
  tr(class!='<% if(week.isCurrent) { %>current<% } %>' data-week!='<%= week.week %>')
    th <%= week.week %>
      <% _.each(week.days, function (day) { %>
      td(class!='<% if(day.isOld) { %>old<% } %>') <%= day.day %>
      <% }); %>
    <% }); %>
