article.schedule(class!='<% if(data.isNow) { %>nowpage<% } %>')
  div.title
    h2#scheduleTitle <%= data.title %> -
      <% if(data.isNow) { %>
      a(href!='/<%= data.switcherUrl %>' data-local) Today schedule
      <% } else { %>
      a(href!='/<%= data.switcherUrl %>' data-local) Week schedule
      <% } %>
  div#calendar.clearfix
  div#weekBar
  div#editBar.schedule-edit-bar
    div#editInit
      button#edit
    div#editProgress
      button#done
      button#add
  div#days
  div#selectSubject.absolute-block
