div.block-content
  div.block-close-btn
    button#closeBlockBtn
  div.block-searchbar
    input#searchSubject.block-searchbar-text(type='text' placeholder='Search for subjects')
  ul.block-subjects#subjects

