div.block-content
  header
    button#closeBlockBtn Close
  div.block-searchbar
    input#searchSubject.block-searchbar-text(type='text' placeholder='Search for subjects')
  ul.block-subjects#subjects

