div.block(class!='<%= (data.isToday(data.date)) ? "today" : "" %>')
  div.weekday <%= data.getWeekDay(data.date) %>
    span.date <%= data.getDate(data.date) %> <%= data.getMonth(data.date) %>

  div.container
    <% if(data.subjects.length > 0) { %><% _.each(data.subjects, function (subject) { %>
    div.subject(class!='<%= (subject.rest) ? "restblock " : "" %><%= data.getStatus(subject.date) %>')
      <% if(subject.timeBlock) { %>
      div.endtime <%= data.getTime(subject.date.start) %>
      <% } else { %>
      <% if(!subject.rest) { %>
      div.remove-block
        button#removeBtn(data-subject!='<%= subject.subject._id %>')
      <% } %>

      div.time
        div.hour <%= data.getTime(subject.date.start) %>
        div.duration
          span(class!='dur-<%= data.getDuration(subject.date) %>')
            i#duration <%= data.getDuration(subject.date) %>
            u hour<% if(data.getDuration(subject.date) > 1) { %>s<% } %>

      div.info
        div.inner
          div.name
            <% if(subject.rest) { %>
            div.resttext Break
            <% } else { %>
            <%= subject.subject.name %>
            <% } %>

          div.rooms
            <% _.each(subject.rooms, function (room) { %>
            a(href!='/<%= data.toUrl(room.name, data.date) %>' data-local) <%= room.name %>
            <% }); %>

          ul.teachers
            <% _.each(subject.teachers, function (teacher) { %>
            li: a(href!='/<%= data.toUrl(teacher.name, data.date) %>' data-local) <%= teacher.name %>
            <% }); %>

      ul.groups.clearfix
        <% _.each(subject.groups, function (group) { %>
        li: a(href!='/<%= data.toUrl(group.name, data.date) %>' data-local) <%= group.name %>
        <% }); %>

      <% } %>

    <% }); %><% } else { %>
    div.noclasses No classes
    <% } %>
