div.block(class!='<%= (data.isToday(data.date)) ? "today" : "" %>')
  div.weekday <%= data.weekday.name %>
    span.date <%= data.getDate(data.date) %> <%= data.getMonth(data.date) %>

  div.container
    <% if(data.subjects.length > 0) { %><% _.each(data.subjects, function (subject) { %>
    div.subject
      div.time
        div.hour <%= data.getTime(subject.date) %>
        div.duration
          span(class!='dur-<%= subject.duration %>')
            i#duration <%= subject.duration %>
            u hour<% if(subject.duration > 1) { %>s<% } %>

      div.info
        div.inner
          div.name
            <% if(subject.rest) { %>
            div.resttext Break
            <% } else { %>
            <%= subject.subject.name %>
            <% } %>

          div.room <%= data.getRooms(subject.rooms) %>

          ul.teachers
            <% _.each(subject.teachers, function (teacher) { %>
            li: a(href!='/<%= data.toUrl(teacher.name) %>' data-local) <%= teacher.name %>
            <% }); %>

      ul.groups.clearfix
        <% _.each(subject.groups, function (group) { %>
        li: a(href!='/<%= data.toUrl(group.name) %>' data-local) <%= group.name %>
        <% }); %>

    <% }); %><% } else { %>
    div.noclasses No classes
    <% } %>
