a.neighbourweek#prevweek(href!='/<%= prevUrl %>' data-local) Prev
a.weekcontent(href!='/<%= weekUrl %>' data-local) Week
  span#weeknum <%= weekNum %>
a.neighbourweek#nextweek(href!='/<%= nextUrl %>' data-local) Next
