a.neighbourweek#prevweek(href!='/<%= data.prevUrl %>' data-local)
a.weekcontent(href!='/<%= data.weekUrl %>' data-local) Week
  span#weeknum <%= data.weekNum %>
a.neighbourweek#nextweek(href!='/<%= data.nextUrl %>' data-local)
