# Logs
*.log

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Cache
app/cache/*

# Builds
app/public/js/builds/*.js

# Minified files
app/public/**/*.min.*

# Analytics
app/public/js/libs/analytics.js

# Distributives
app/source/*/dist

# Minified css
app/public/stylesheets/min

# Procfile

# New Relic configuration
newrelic.js

nodemon.json
