doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/template.css')
    block customHead
  body
    div.globalouter
      block content
      block customFoot

      div.footer
        span.footlinks
          block footlinks
        span by
          a(href='https://github.com/zaynetro' target='_blank') zaynetro
          | 2014