extends ./layouts/main

block customHead
  link(rel='stylesheet', href='/stylesheets/editor.css')

block content
  div.editorpage
    div.helpmenu
      ul
        li: a(href='/' data-local) Home
        li: a(href='/u') Profile

    header: a.helpmenutoggle(href='/') Links

    div.note This is the editor, you can change your schedule to a custom if you have some additional courses or if you are not taking others. Here you can make timetable you like.
    div.attention Work in progress

block customFoot
  script(src='/js/libs/jquery-1.10.2.min.js')
  script(src='/js/libs/underscore-min.js')
  script(src='/js/libs/backbone-min.js')
  script(src='/js/editor.js')
