doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/template.css')
    block customHead
  body
    block content
    block customFoot

    div.footer zaynetro 2014