extends ./layouts/main

block content
  div.nowpage
    header: a(href='/#{link}') Full schedule
    div.schedule

block customFoot
  script#weekdayTemplate(type='text/html')
    div.block
      div.weekday <%= weekday.name %>
        span.date <%= date.day %> <%= getMonth(date.month) %>

      div.container
        <% if(subjects.length > 0) { %><% _.each(subjects, function (subject) { %>
        div.subject(class!='<%= getStatus(subject.days) %>')
          div.time
            div.hour <%= getTime(subject.days) %>
            div.duration
              span(class!='dur-<%= getDur(subject.days) %>')
                i#duration <%= getDur(subject.days) %>
                u hour<% if(getDur(subject.days) > 1) { %>s<% } %>

          div.info
            div.inner
              div.name
                <% if(subject.rest) { %>
                div.resttext Break
                <% } else { %>
                a(href!='/subject/<%= toUrl(subject.name) %>' data-local) <%= subject.name %>
                <% } %>

              div.room <%= getRooms(subject.rooms) %>

              ul.teachers
                <% _.each(subject.teachers, function (teacher) { %>
                li: a(href!='/<%= toUrl(teacher.name) %>' data-local) <%= teacher.name %>
                <% }); %>

          ul.groups
            <% _.each(subject.groups, function (group) { %>
            li: a(href!='/<%= toUrl(group.name) %>' data-local) <%= group.name %>
            <% }); %>

          div.klear

        <% }); %><% } else { %>
        div.noclasses No classes
        <% } %>

  script#weekNotFound(type='text/html')
    div.notfound Not found

  script(src='/js/libs/jquery-1.10.2.min.js')
  script(src='/js/libs/underscore-min.js')
  script(src='/js/libs/backbone-min.js')
  script(src='/js/now.js')
