.editorpage header {
  margin-bottom: 10px;
}

.editorpage header a {
  display: block;
  padding: 10px 0;
  text-align: center;
  background-color: #f3f3f3;
  border-bottom: 1px solid #bbb;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.2s;
}

.editorpage header a:hover {
  background-color: #B6D4E7;
}

.editorpage .note, .editorpage .attention {
  margin: 5px 15px;
}
