* {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font: 90% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9e9e9;
}

a {
  color: #1B98E5;
  text-decoration: none;
}

a:hover {
  color: #3E8CBC;
  text-decoration: underline;
}

.klear {
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select {
  margin: 0;
  padding: 2px 0;
}

.text {
  border: 1px solid #bbb;
  padding: 3px;
  width: 200px;
  box-sizing: border-box;
}

.button {
  position: relative;
  border: 0;
  padding: 4px 10px;
  cursor: pointer;
  background-color: #D9DDDE;
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #bdc3c7;
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  padding: 10px 0;
  color: #888;
}

.footer a {
  color: #777;
  margin: 0 4px;
}

.footlinks {
  padding-right: 15px;
}

.attention {
  background-color: #FCF0B0;
}

.success {
  background-color: #BFF1BC;
}

.attention, .success {
  padding: 5px 7px;
  border-radius: 3px;
}

.note {
  background-color: #ddd;
  border: 1px solid #bbb;
  color: #555;
  font-size: 0.9em;
  padding: 5px;
}


/**
 * TOP MENU
 *
 */

.helpmenu {
  display: none;
  width: 100%;
  background-color: #555;
}

.helpmenu li > a {
  display: block;
  color: #eee;
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  padding: 7px 0;
  transition: background-color 0.1s;
}

.helpmenu li > a:hover {
  background-color: #666;
}

.topmenu {
  width: 100%;
  margin: 0 0 10px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

.topmenu ul {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.topmenu ul > li {
  float: left;
  width: 40%;
}

.topmenu ul > li:last-child {
  width: 20%;
}

.topmenu ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: #336E9B;
  transition: background-color 0.2s;
}

.topmenu ul > li > a:hover {
  background-color: #E1E7ED;
  box-shadow: inset 0 -6px 0 -4px #64A4DC;
}

.topmenu ul > li > a.helpmenutoggle {
  color: #000;
}

.topmenu ul > li > a.helpmenutoggle:hover {
  color: #eee;
  background-color: #555;
}

/**
 * MAIN PAGE
 *
 */

.mainpage {
  max-width: 700px;
  margin: 20px auto 10px;
}

.mainpage h3 {
  font-size: 1.2em;
  margin: 20px 0 5px;
}

.mainpage .block {
  padding: 10px;
  background-color: #fff;
}

.mainpage .subblock .info {
  margin: 2px 0 7px 10px;
}

.mainpage h4 {
  font-size: 1em;
  color: #2C5E84;
  margin: 15px 0 10px;
}

.mainpage h4:first-child {
  margin-top: 0;
}

.mainpage .attention {
  margin: 3px 5px;
}

.mainpage .success {
  margin: 3px 0;
}

.mainpage #sent {
  display: none;
}

.mainpage .contactform {
  margin: 10px 0;
}

.mainpage .contactform textarea {
  margin: 0;
  width: 35%;
  height: 25px;
  transition: height 0.3s, width 0.3s;
}

.mainpage .contactform textarea.big {
  width: 100%;
  height: 38px;
}

.mainpage .contactform textarea:focus, .mainpage .contactform .text:focus {
  border-color: #555;
}

.mainpage .contactform #hiddenform {
  margin: 2px 0 0;
  display: none;
}

.mainpage .contactform .button {
  padding-left: 12px;
  padding-right: 12px;
}


/**
 * SCHEDULE TEMPLATE
 *
 */

.mainpage, .schedule, .unknown {
  display: none;
}

.schedule {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.schedule .title {
  text-align: center;
}

.schedule .title h2 {
  font-size: 1.1em;
  padding: 0;
  margin: 2px 0;
  color: #1D2F43;
}

.schedule .weekblock {
  margin-top: 3px;
  float: none;
}

.schedule #calendar {
  display: none;
  padding: 10px 0;
}

.schedule .weekselector {
  clear: both;
  width: 100%;
  overflow: hidden;
  margin: 5px 0 0;
}

.schedule .weekcontent {
  float: left;
  width: 80%;
  display: block;
  padding: 7px 0;
  text-align: center;
  background-color: #fff;
  text-shadow: 0 1px 5px #fff;
  font-size: 1.4em;
  text-decoration: none;
  transition: background-color 0.2s;
}

.schedule .weekcontent:hover {
  background-color: #C1E4FB;
}

.schedule .weekcontent span {
  padding-left: 0.2em;
}

.schedule .neighbourweek {
  float: left;
  display: block;
  overflow: hidden;
  width: 10%;
  padding: 7px 0;
  background-color: #fafafa;
  text-align: center;
  font-size: 1.4em;
  color: #777;
  text-decoration: none;
  transition: background-color 0.2s;
}

.schedule .neighbourweek:first-of-type {
  box-shadow: inset -6px 0 0 -4px rgba(0,0,0,0.2);
}

.schedule .neighbourweek:last-of-type {
  box-shadow: inset 6px 0 0 -4px rgba(0,0,0,0.2);
}

.schedule .neighbourweek:hover {
  color: #666;
  background-color: #C1E4FB;
}

.schedule #days {
  margin-top: 10px;
  clear: both;
}

.schedule .bwrap {
  float: left;
}

.schedule .bwrap:nth-of-type(5n) .weekday {
  box-shadow: inset 0 4px 0 -2px #9b59b6;
}

.schedule .bwrap:nth-of-type(5n+1) .weekday {
  box-shadow: inset 0 4px 0 -2px #47617C;
}

.schedule .bwrap:nth-of-type(5n+2) .weekday {
  box-shadow: inset 0 4px 0 -2px #e67e22;
}

.schedule .bwrap:nth-of-type(5n+3) .weekday {
  box-shadow: inset 0 4px 0-2px #27AE60;
}

.schedule .bwrap:nth-of-type(5n+4) .weekday {
  box-shadow: inset 0 4px 0 -2px #3498D8;
}

.schedule .block {
  position: relative;
  overflow: hidden;
  margin: 7px 5px;
  background-color: #fff;
  transition: box-shadow 0.2s;
}

.schedule .bwrap .today {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
}

.schedule .block:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
}

.schedule .today .weekday {
  background-color: #f5f5f5;
}

.schedule .weekday {
  background-color: #fff;
  padding: 10px 0;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  box-shadow: inset 0 4px 0 -2px #3498D8;
  border-bottom: 1px solid #eee;
}

.schedule .date {
  margin-left: 10px;
  font-size: 0.9em;
  color: #999;
}

.schedule .container {
  clear: left;
}

.schedule .noclasses {
  font-size: 1.2em;
  padding: 10px 0;
  background-color: #fdfdfd;
  text-align: center;
}

.schedule .subject {
  clear: left;
  overflow: hidden;
  border-bottom: 2px dashed #ddd;
}

.schedule .subject:hover {
  background-color: #E2F4FF;
}

.schedule .subject:last-child {
  padding-bottom: 5px;
  border: 0;
}

.schedule .subject .time {
  float: left;
  width: 20%;
  text-align: center;
}

.schedule .subject .hour {
  font-weight: bold;
  padding: 5px 0 2px;
}

.schedule .subject .duration {
  font-size: 0.9em;
  color: #222;
}

.schedule .subject .duration span {
  padding: 0 2px;
  background-color: #E3F3FC;
  border: 2px solid #7AC0EB;
  border-radius: 5px;
}

.schedule .subject .duration span u {
  text-decoration: none;
}

.schedule .subject .duration .dur-1 {
  border-color: #7DC790;
  background-color: #DCFCE4;
}

.schedule .subject .duration .dur-2 {
  border-color: #E3E35B;
  background-color: #FCFCD7;
}

.schedule .subject .duration .dur-3 {
  border-color: #E6BD3A;
  background-color: #FFF7DE;
}

.schedule .subject .duration .dur-4 {
  border-color: #D68B56;
  background-color: #FFEDE0;
}

.schedule .subject .duration .dur-5 {
  border-color: #D65656;
  background-color: #FCE1E1;
}

.schedule .subject #duration {
  padding-right: 2px;
  font-style: normal;
}

.schedule .subject .info {
  float: left;
  width: 80%;
}

.schedule .subject .inner {
  padding: 4px 10px 0;
}

.schedule .subject .resttext {
  font-size: 1.3em;
  padding: 8px 5px 10px 20px;
  color: #333;
}

.schedule .subject .inner .name a {
  font-size: 1.2em;
  color: #2C6D98;
}

.schedule .subject .room {
  margin: 4px 0;
  font-style: italic;
}

.schedule .subject .teachers li, .subjectpage .teachers li {
  margin: 2px 0;
}

.schedule .subject .teachers li > a, .subjectpage .teachers li > a {
  background: url('/design/teacher_icon.png') no-repeat left center;
  padding-left: 20px;
  color: #3A3D3F;
}

.schedule .subject .groups {
  width: 100%;
  overflow: hidden;
  clear: left;
}

.schedule .subject .groups li {
  float: right;
  margin: 6px 4px 6px 0;
}

.schedule .subject .groups li > a, .subjectpage .groups li > a {
  border: 2px solid #dadada;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 2px 3px;
  background-color: #f9f9f9;
  color: #666;
}

.schedule .subject .groups li > a:hover, .subjectpage .groups li > a:hover {
  text-decoration: none;
  border-color: #bbb;
  color: #444;
}

.schedule .subject .infoklear {
  clear: left;
  height: 1px;
}

@media screen and (max-width: 480px) {
  .schedule .bwrap {
    width: 100%;
  }

  .schedule .weekcontent {
    width: 70%;
  }

  .schedule .neighbourweek {
    width: 15%;
  }
}

@media screen and (min-width: 480px) and (max-width: 550px) {
  .schedule .bwrap {
    width: 100%;
  }

  .schedule .weekcontent {
    width: 70%;
  }

  .schedule .neighbourweek {
    width: 15%;
  }
}

@media screen and (min-width: 550px) and (max-width: 740px) {
  .schedule .bwrap {
    width: 50%;
  }

  .schedule .weekcontent {
    width: 70%;
  }

  .schedule .neighbourweek {
    width: 15%;
  }
}

@media screen and (min-width: 740px) and (max-width: 980px) {
  .schedule .bwrap {
    width: 33.3333333333%;
  }
}

@media screen and (min-width: 980px) and (max-width: 1200px) {
  .schedule .bwrap {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .schedule .bwrap {
    width: 20%;
  }
}

@media screen and (min-width: 980px) {
  .topmenu ul {
    width: 900px;
  }
}

@media screen and (min-width: 1980px) {
  .schedule .bwrap {
    width: 18%;
  }

  .schedule #days {
    margin: 0 5%;
  }
}


.unknown {
  font-size: 1.4em;
  text-align: center;
  background-color: #fff;
  padding: 10px 0;
  width: 400px;
  margin: 20px auto;
}

.notfound {
  font-size: 1.4em;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  padding: 10px 0;
}

/**
 * SIDE BAR
 */

.globalouter {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}

.sidebarwrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebarwrap .bg {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.sidebarwrap .sidebar {
  position: absolute;
  top: 0;
  left: -700px;
  width: 700px;
  min-height: 100%;
  background-color: #555;
  transition: left 0.4s;
}

.sidebarwrap .sidebar .closebtn {
  display: block;
  padding: 7px 0;
  text-align: center;
  font-size: 1.2em;
  color: #f7f7f7;
  text-decoration: none;
  background-color: rgba(0,0,0,0.2);
  transition: background-color 0.2s;
}

.sidebarwrap .sidebar .closebtn:hover {
  background-color: rgba(0,0,0,0.4);
}

.sidebarwrap .sidebar .container {
  padding-bottom: 15px;
}

.sidebarwrap .sidebar .container > div {
  display: none;
}

.sidebarwrap .sidebar .search {
  padding: 10px 0;
  text-align: center;
}

.sidebarwrap .sidebar .text {
  padding: 4px 5px;
  font-size: 1.2em;
  border: 0;
  width: 250px;
  box-shadow: 0 0 12px 1px #212121;
  transition : box-shadow 0.3s;
  outline: none;
}

.sidebarwrap .sidebar .text:focus {
  box-shadow: 0 0 12px 1px #EBE2B5;
}

.sidebarwrap .sidebar .list {
  margin-top: 5px;
  overflow: hidden;
}

.sidebarwrap .sidebar .list li {
  float: left;
  width: 33.33333%;
}

.sidebarwrap .sidebar .list li > a {
  display: block;
  background-color: #666;
  margin: 1px;
  padding: 6px 5px;
  font-size: 1em;
  color: #eee;
  text-decoration: none;
  transition: background-color 0.1s;
}

.sidebarwrap .sidebar .list li > a:hover {
  background-color: #5a5a5a;
}

@media screen and (max-width: 480px) {
  .sidebarwrap .sidebar {
    position: absolute;
    width: 100%;
  }

  .sidebarwrap .sidebar .list li {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 700px) {
  .sidebarwrap .sidebar {
    position: absolute;
    width: 100%;
  }

  .sidebarwrap .sidebar .closebtn {
    padding: 10px 0;
  }

  .sidebarwrap .sidebar .list li {
    width: 50%;
  }
}


/**
 * CALENDAR
 */

#calendar table {
  float: left;
  border-spacing: 0;
  border: 0;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 5px;
  height: 185px;
}

#calendar thead {
  font-weight: bold;
}

#calendar td, #calendar th {
  padding: 5px;
}

#calendar thead tr:first-child th {
  border-bottom: 2px solid #ddd;
}

#calendar td.old {
  color: #888;
}

#calendar tbody {
  font-size: 0.9em;
}

#calendar tbody tr.current {
  color: #f7f7f7;
  background-color: #0062CC;
}

#calendar tbody tr:hover, #calendar tbody tr.selected {
  cursor: pointer;
  color: #000;
  background-color: #CACED0;
}

/**
 * #####################################################################
 * Subject page
 */

.subjectpage {
  display: none;
}

.subjectpage .inner {
  width: 450px;
  margin: 20px auto;
}

.subjectpage .back {
  margin: 7px 0;
}

.subjectpage .back a {
  font-size: 1.3em;
  color: #555;
  text-decoration: none;
}

.subjectpage .back a:hover {
  color: #222;
}

.subjectpage .back a:before {
  font-size: 1.2em;
  color: #888;
  padding-right: 4px;
  content: '\2190';
}

.subjectpage .back a:hover:before {
  color: #444;
}

.subjectpage article {
  background-color: #fff;
  padding: 10px 0;
}

.subjectpage .row {
  padding: 0 15px;
  border-left: 5px solid #BFD2E2;
  margin: 4px 0;
}

.subjectpage .row:nth-child(4n+3) {
  border-color: #ADDCAD;
}

.subjectpage .row:nth-child(4n+1) {
  border-color: #D1ADDC;
}

.subjectpage .row:nth-child(4n+2) {
  border-color: #ADC8DC;
}

.subjectpage .row:nth-child(4n) {
  border-color: #DCD1AD;
}

.subjectpage h3 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.3em;
}

.subjectpage h4 {
  margin: 0;
  color: #333;
}

.subjectpage .teachers {
  padding: 2px 0 5px 10px;
}

.subjectpage .teachers li {
  margin: 3px 0;
}

.subjectpage .teachers a {
  font-size: 1.1em;
}

.subjectpage .groups {
  padding: 0 0 7px 10px;
}

.subjectpage .groups li {
  margin: 13px 0;
}

.subjectpage .groups a {
  font-size: 1.1em;
}

/**
 * Now page
 *
 */

.nowpage {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .nowpage .schedule {
    width: 800px;
    margin: 0 auto;
  }
}

.nowpage header a {
  display: block;
  padding: 10px 0;
  text-align: center;
  background-color: #f3f3f3;
  box-shadow: 0 -4px 4px 4px #555;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.2s;
}

.nowpage header a:hover {
  background-color: #B6D4E7;
}

.nowpage .schedule {
  margin-top: 15px;
  display: block;
  position: relative;
  overflow: hidden;
}

.nowpage .schedule .block {
  margin: 7px 4px;
}

.nowpage .schedule .ended {
  opacity: 0.4;
}

.nowpage .schedule .now {
  background-color: #EDFCF4;
}


/**
 * Experimental
 *
 */

.schedule .block .subject {
  position: relative;
  overflow: hidden;
}

.schedule .block .subject .controlbar {
  display: block;
  position: absolute;
  top: -35px;
  right: 0;
  transition: top 0.3s;
  padding: 0;
  height: 30px;
  width: 100%;
  box-shadow: 0 1px 4px 0 #555;
}

.schedule .block .controlbar button {
  display: block;
  float: left;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  text-decoration: none;
  color: #000;
  border: 0;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.schedule .block .controlbar .removelink {
  background-color: #F69E9E;
}

.schedule .block .subject:hover > .controlbar {
  top: 0;
}

.schedule .block .controlbar .removelink:hover {
  background-color: #F27C7C;
}

.schedule .block .addsubject button {
  width: 100%;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 15px 0;
  background-color: #f5f5f5;
  font-size: 1.1em;
  transition: background-color 0.3s;
  cursor: pointer;
}

.schedule .block .addsubject button:hover {
  background-color: #9BE0AE;
}

.schedule .block .new {
  display: none;
}

.subjectpopup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subjectpopup .bg {
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  min-height: 100%;
  position: fixed;
}

.subjectpopup .inner {
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0;
  margin-left: -350px;
  width: 700px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
}

@media screen and (max-width: 700px) {
  .subjectpopup .inner {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
  }
}

.subjectpopup .closebtn {
  width: 100%;
  padding: 7px 0;
  border: 0;
  margin: 0;
  font-size: 1.3em;
  background-color: #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.subjectpopup .closebtn:hover {
  background-color: #BCD5E7;
}

.subjectpopup .container {
  background-color: #fff;
  padding: 7px 15px;
}

.subjectpopup .row {
  margin-bottom: 10px;
}

.subjectpopup .form .text {
  width: 100%;
  padding: 5px;
  font-size: 1.1em;
}

.subjectpopup .form .text:focus {
  border-color: #777;
}

.subjectpopup .form .found li {
  padding: 7px 7px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.1s;
  border-bottom: 1px solid #eee;
}

.subjectpopup .form .found li:last-child {
  border: 0;
}

.subjectpopup .form .found li:hover {
  background-color: #eee;
}
