extends ../layouts/main

block customHead
  link(rel='stylesheet', href='/stylesheets/auth.css')

block content
  div.loginpage
    div.homelink: a(href='/') Home
    div.container
      div.row: a(href='/my') My schedule

      h3: label(for='username') Edit profile
      if error
        a#error= error
      form(method='post' action='')
        div.row
          input.text(type='text' id='username' name='username' value=user.username placeholder='Your username')
        div.row
          input.text(type='password' id='password' name='password' placeholder='Your new password')
        div.row
          input.button#toconfirm(type='button' value='Update')

        div#confirm
          div.subform
            input.cancelbtn(type='button' value='Cancel')
            h3 Confirm yourself
            div.row
              input.text(type='password' id='oldpassword' name='oldpassword' placeholder='Type your old password')
            div.row
              input.button(type='submit' value='Proceed')

      h3 OR
      div.row: a(href='/u/group') Select group

    div.note You can edit your username and password using this form, if you will leave field blank it will stay the same.

block customFoot
  script(src='/js/libs/jquery-1.10.2.min.js')
  script(src='/js/profile.js')
  script(src='/js/libs/analytics.js' async)
