doctype html
html
  head
    title= title
    meta(charset='utf-8')
    if mobile
      meta(name="viewport" content="width=device-width, user-scalable=no")
      link(rel='stylesheet', href='/stylesheets/mobile-manage.css')
    link(rel='stylesheet', href='/stylesheets/manage.css')
  body

    div#app.manage

    script(src='/js/builds/managepage.js' async)
