extends ../layouts/main

block customHead
  link(rel='stylesheet', href='/stylesheets/manage.css')

block content
  div.manage
    div.sidebar
      div.links
        ul
          li: a(href='/') Home
          li: a(href='/manage') Manage
          li: a(href='/manage/parse') Parse


    div.container
      h1
        span#modelName
        span= title

      div.modellist
        h2 Search
        div.searchbox#searchBox

        div#notfound Nothing found

        h2 Results
        ul#results

      div.pagination
        ul.clearfix#pagination


block customFoot
  script#modelTemplate(type='text/html')
    div.number #<%= index %>
    div.model
      div.actions
        ul
          li: button.save Save
          li: button.edit Edit
          li: button.cancel Cancel
          li: button.delete Delete
      div.error#error
      pre <%= model %>

  script#paginationTemplate(type='text/html')
    li(class!='<%= (current) ? "current" : "" %>')
      a(href!='<%= url + "/page/" + number %>' data-local) <%= number %>

  script#searchTemplate(type='text/html')
    table
      tr.row
        td.labels.nopadding {

      <% _.each(fields, function (field) { %>
      tr.row
        td.labels: label(for!='<%= field %>') <%= field %>
        td.colons :
        td.inputs
          input.text.field(type='text' id!='<%= field %>' placeholder='your query')
      <% }); %>

      tr.row
        td.labels.nopadding }

      tr.row.with-separator
        td(colspan=3).inputs
          textarea#query(placeholder='final query')

      tr.row
        td(colspan=3): input.button(type='button' value='Search')

      tr.row
        td(colspan=3)
          div#error.error

  script(src='/js/builds/modelpage.js' async)
