extends ../layouts/main

block customHead
  link(rel='stylesheet', href='/stylesheets/manage.css')

block content
  div.manage
    div.sidebar
      div.links
        ul
          li: a(href='/') Home
          li: a(href='/manage') Manage
          li: a(href='/manage/parse') Parse


    div.container
      h1= title

      div.modellist
        h2 Search
        div.searchbox
          table
            tr.row
              td.labels.nopadding {

            tr.row
              td.labels: label(for='building') "building"
                td.colons :
                td.inputs: input.text(type='text' id='building' placeholder='your query')

            tr.row
              td.labels: label(for='_id') "_id"
              td.colons :
              td.inputs: input.text(type='text' id='_id' placeholder='your query')

            tr.row
              td.labels: label(for='name') "name"
              td.colons :
              td.inputs: input.text(type='text' id='name' placeholder='your query')

            tr.row
              td.labels.nopadding }

            tr.row
              td(colspan=3): input.button(type='button' value='Search')

        div#notfound Nothing found

        h2 Results
        ul#results

      div.pagination
        ul.clearfix#pagination


block customFoot
  script#modelTemplate(type='text/html')
    div.number #3
      div.model
        div.actions
          ul
            li: a.edit(href='#') Edit
            li: a.delete(href='#') Delete
        pre <%= model %>

  script#paginationTemplate(type='text/html')
    li(class!='<%= (current) ? "current" : "" %>')
      a(href!='<%= url + "/page/" + number %>') <%= number %>

  script#searchTemplate(type='text/html')
    h2 Search
    table
      tr.row
        td.labels.nopadding {

      <% _.each(items, function (item) {
      tr.row
        td.labels: label(for!='<% item.name %>')
        td.colons :
        td.inputs
          input.text(type='text' id!='<% item.name %>' placeholder='your query')
      <% }); %>

      tr.row
        td.labels.nopadding }

      tr.row
        td(colspan=3): input.button(type='button' value='Search')

  script(src='/js/builds/modelpage.js' async)
