extends ../layouts/user

block content
  div.loginpage
    div.homelink: a(href='/') Home
    div.tophelper: a(href='/u/login') Have an account?
    div.container
      h3: label(for='username')= title
      div.attention We are in Beta-testing period, therefore your account can be deleted.
      if notfull
        a#error All fields are required
      else if error
        a#error= error
      form(method='post' action='')
        div.row
          input.text(type='text' id='username' name='username' value=user.username placeholder='Your username' autofocus)
        div.row
          input.text(type='password' id='password' name='password' placeholder='Your password')
        div.row
          input.button(type='submit' value='Sign up')

    div.note Hi! Did you know that this is an open source project. You can check all the source code in git repository. Link can be found in footer.
