h1 Add <%= data.formModel %>

div.add-form
  div.row
    input.text#addAppName(type="text" placeholder!="<%= data.formModel %> name" name="app-name")
  div.row
    button.button#addAppBtn Add <%= data.formModel %>
