div.number #<%= data.index %>
div.model
  div.actions
    ul
      li: button.save Save
      li: button.edit Edit
      li: button.cancel Cancel
      li: button.delete Delete
  div.error#error
  pre <%= data.model %>
