h2 <%= data.name %> &mdash; Model
div.search-form
  table
    tr.row
      td.labels.nopadding {

    <% _.each(data.fields, function (field) { %>
    tr.row
      td.labels: label(for!='<%= field.name %>') <%= field.name %>
      td.colons :
      td.inputs
        input.text.field(type='text' id!='<%= field.name %>' placeholder='your query' value!="<%= field.value %>")
    <% }); %>

    tr.row
      td.labels.nopadding }

    tr.row.with-separator
      td(colspan=3).inputs
        textarea#query(placeholder='final query')

    tr.row
      td(colspan=3): input.button(type='button' value='Search')

    tr.row
      td(colspan=3)
        div#error.error
