extends ../layouts/main

block customHead
  link(rel='stylesheet', href='/stylesheets/auth.css')

block content
  div.loginpage
    div.homelink: a(href='/') Home
    div.container
      div.row: a(href='/u') Profile
      h3: label(for='username')= title
      form(method='post' action='')
        div.row
          select(name='group' id='group')
            each group in grouplist
              - var selected = (group.id === curGroupId);
              option(value=group.id selected=selected)=group.name
        div.row
          input.button(type='submit' value='Proceed')

block customFoot
  script(async)
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-48005883-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
