extends ./layouts/main

block customHead
  link(rel='stylesheet', href='/stylesheets/template.css')

block content
  div#app.globalouter

  header.top
    div.searchbox
      input.text#searchInput(type='text' placeholder='Search...')

    nav.mainnav
      ul
        li: a.home(href='/' data-local)
        li: a.menu(href='/search' data-local)

  div.contentpusher
  div#content


block customFoot
  script#errorTemplate(type='text/html')
    div.notfound <%= error %>

  script#weekNotFound(type='text/html')
    div.notfound Nothing found

  script#noDays(type='text/html')
    div.notfound No classes during this week

  script(src='/js/builds/schedulepage.js' async)
  script(src='/js/libs/analytics.js' async)
