doctype html
html
  head
    title= title
    meta(charset='utf-8')
    if mobile
      meta(name="viewport" content="width=device-width, user-scalable=no")
      link(rel='stylesheet', href='/stylesheets/mobile.css')
    block customHead
  body
    block content

    div.footer
      span.footlinks
        include ./footlinks/unlogged
      span by
        a(href='//zaynetro.github.io' target='_blank') zaynetro
        | 2014

    block customFoot
