doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    meta(property='og:url' content='http://lukkari.dc.turkuamk.fi')
    meta(property='og:site_name' content='TUAS lukkari')
    meta(property='og:title' content='Turku University of Applied Sciences schedule')

    block head
  body
    block content
    block foot
