doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(property='og:url' content='http://lukkari.dc.turkuamk.fi')
    meta(property='og:site_name' content='TUAS lukkari')
    meta(property='og:title' content='Turku University of Applied Sciences schedule')
    meta(property='og:image' content='http://lukkari.dc.turkuamk.fi/images/lukkari_image.png')
    meta(property='og:image:type' content='image/png')
    meta(property='og:image:width' content='358')
    meta(property='og:image:height' content='358')

    block head
  body
    block content
    block foot
